<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Map</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/style.css">
    <style>
        #map { height: 500px; width: 100%; }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">GeoBook</a>
            <div class="navbar-nav">
                <a class="nav-link" href="/books">Books</a>
                <a class="nav-link active" href="/map">Map</a>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h1 class="mb-4">Locations Map</h1>
        <div class="card">
            <div class="card-body">
                <div id="map" class="map-container"></div>
            </div>
        </div>
        <a href="/books" class="btn btn-secondary mt-3">Back to Books</a>
    </div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
        var map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var locations = /*[[${locations}]]*/ [];
        locations.forEach(function(loc) {
            L.marker([loc.latitude, loc.longitude]).addTo(map).bindPopup(loc.placeName);
        });
    </script>
</body>
</html>
